# Since Lombok v1.16.20, Lombok no longer automatically generates @ConstructorProperties annotations by default.
# `lombok.anyConstructor.addConstructorProperties=true` is to re-enable the feature.
# Oracle more or less broke this annotation with the release of JDK9, necessitating this breaking change.
lombok.anyConstructor.addConstructorProperties=true

# `config.stopBubbling=true` tells Lombok this is your root directory
config.stopBubbling=true