<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Properties resources -->
    <property resource="bootstrap.properties" />
    <property name="LOG_LEVEL_PATTERN" value="%clr(%5p) %clr([${spring.application.name:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-},%X{correlationId:-}]){yellow}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <timestamp key="timestamp" datePattern="yyyy-MM-dd_HH-mm-ss" timeReference="contextBirth"/>

    <appender name="FILE-INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.app-info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="queue" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="FILE-INFO" />
    </appender>

    <root level="INFO">
        <appender-ref ref="queue"/>
        <springProfile name="!prod, !uat, !sit, !pt">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>

</configuration>